{% if collection.url contains '/collections/all' %}
  <section class="about-banner flex align-center justify-center"
style="background-image: url('{{ section.settings.background_image |  image_url }}');">
<div class="container">
    <div class="banner-cntnt">
        <div class="banner-hed">
            {% if section.settings.all_heading != blank %}
                <h1> {{ section.settings.all_heading }} </h1>
            {% else %}
                <h1> {{ collection.title }} </h1>
            {% endif %}
            {% if section.settings.info %}              
              <div class="richtext-content">
                {{ section.settings.info }}
                </div>
            {% endif %}
        </div> 
    </div>
    <div class="banner-logo">
        {% render 'image-snippet-np', image: settings.banner_logo , imageURL: true, lazyload: 'eager'  %}
    </div>
</div>
</section>
{% else %}
{% liquid  
  if collection.image and section.settings.show_collection_image
    assign collection_image = collection.image
  elsif section.settings.image != blank 
    assign collection_image = section.settings.image
  endif 
%}

{% if collection_image %}
<section class="about-banner flex align-center justify-center"
style="background-image: url('{{ collection_image |  image_url }}');">
<div class="container">
    <div class="banner-cntnt">
        <div class="banner-hed">
            {% if section.settings.show_custom_title and section.settings.custom_title != blank %}
                <h1> {{ section.settings.custom_title }} </h1>
            {% else %}
                <h1> {{ collection.title }} </h1>
            {% endif %}
        </div> 
    </div>
    <div class="banner-logo">
        {% render 'image-snippet-np', image: settings.banner_logo , imageURL: true, lazyload: 'eager'  %}
    </div>
</div>
</section>
{% else %}
<section>
<style>
  .about-banner .banner-hed h1{
    color: var(--263542, #263542);
  }
  .banner-hed{
    max-width: 100%;
    text-align: center;
    padding-top: 32px;
  }
  .banner-cntnt {
    max-width: 100%;
}
</style>
<div class="container">
    <div class="banner-cntnt">
        <div class="banner-hed">
            {% if section.settings.show_custom_title and section.settings.custom_title != blank %}
                <h1 style="color: var(--263542, #263542)"> {{ section.settings.custom_title }} </h1>
            {% else %}
               <h1 style="color: var(--263542, #263542)"> {{ collection.title }} </h1>
            {% endif %}
        </div> 
    </div>
</div>
</section>
  {% endif %}
{% endif %}

{% schema %}
    {
        "name": "Collection Banner",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_custom_title",
                "label": "Show Custom Title",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_collection_image",
                "label": "Show Collection Image",
                "default": false
            },
            {
                "type": "html",
                "id": "custom_title",
                "label": "Custom Title",
                "default": " Learn <br> More About US"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
              "type": "header",
              "content": "All Products"
            },
            {
              "type": "image_picker",
              "id": "background_image",
              "label": "Background Image"
            },
            {
              "type": "html",
              "id": "all_heading",
              "label": "Heading"
            },
            {
              "type": "richtext",
              "id": "info",
              "label": "Description"
            }
        ]
    }
{% endschema %}

