<section class="launch">
    <div class="container">
        <div class="launch-content">
            {% if section.settings.heading != blank %}                    
                <h2> {{ section.settings.heading }} </h2>
            {% endif %}
            <div class="text-sp flex gap-32 align-center">
                <span class="bar"></span>
                {% if section.settings.subheading != blank %}                    
                    <p>{{ section.settings.subheading }} </p> 
                {% endif %}
            </div>

            <div class="launch-dta flex justify-between">
                <div class="launch-text">
                    {% if section.settings.text != blank %}                    
                         {{ section.settings.text }} 
                    {% endif %}
                    <div class="indstry flex gap-32">
                        {% for block in section.blocks %}
                            {% case block.type %}
                                   {% when 'feature' %}
                                    {% if block.settings.text != blank %}                                                
                                        <div class="indstry-dta">
                                            <div class="indstry-img flex align-center">
                                                {% render 'image-snippet-np', image: block.settings.image , imageURL: true, lazyload: 'lazy'  %}
                                                <h3>{{ block.settings.heading }}</h3>
                                            </div>
                                            <p>{{ block.settings.text }}</p>
                                        </div>
                                    {% endif %}
                         {% endcase %}
                     {% endfor %} 
                    </div>

                    {% render 'anchor-snippet', image: true, button_text: section.settings.button_text, button_url: section.settings.button_url, class: 'btn-primary flex align-center justify-center gap-10' %}
                </div>

                <div class="launch-img">
                    {% render 'image-snippet', image: section.settings.main_image, lazyload: 'lazy' %}

                    <div class="launch-grain">
                        {% render 'image-snippet', image: section.settings.bottom_image, lazyload: 'lazy' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Launched",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Launched in North America April 1st,"
            },
            {
                "type": "html",
                "id": "subheading",
                "label": "Subheading"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "more about us"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            },
            {
                "type": "header",
                "content": "Images"
            },
            {
                "type": "image_picker",
                "id": "main_image",
                "label": "Main Image"
            },
            {
                "type": "image_picker",
                "id": "bottom_image",
                "label": "Bottom Image"
            }
        ],
        "blocks": [
            {
                "type": "feature",
                "name": "Feature",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Placeholder text"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Launched"
            }
        ]
    }
{% endschema %}